table{
    border-collapse: collapse;
}
/* comentarios en css*/
table,th,td {
    border: 1px solid black;
}

td{
    padding: 10px;
}

.icono-demo{
    font-size: 40px;
    color: red;
}

.listas{
    list-style-type: circle;
}