.box{

    width: 200px;
    height: 200px;
    border: 1px solid gray;
    background-color: aqua;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-container{
    display: flex;
    border: 1px solid red;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container2{
    display: flex;
    border: 1px solid red;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 500px;
    align-items: center;
}


